 Assingment 1.1: WAP to print your name three times

In [19]:
print("AKANKSHA")
print("AKANKSHA")
print("AKANKSHA")

AKANKSHA
AKANKSHA
AKANKSHA

question 2 SUM OF TWO NUMBERS :

In [2]:
a =10
b =20
c= a+b
print(a,"+", b,"--->",c)

10 + 20 ---> 30

question 3 WAP to concatinate three strings and print the result:

In [3]:
a= "ramesh"
b= "suresh"
c="ram"
d=a+b+c
print(a,"+", b,"+", c,"---->",d)

ramesh + suresh + ram ----> rameshsureshram

question 4 WAP to print the table of 7, 9

In [4]:
for i in range (1,11):
 print(7,"*",i,"=",i*7)

for i in range (1,11):
 print(9, "*",i,"=",i*9)

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

question  5 WAP to print the table of n and n is given by user:

In [5]:
a = int(input("first number"))

b = int(input("first number"))
if a == b:
	print ("a == b")
elif a >= b:
	print ("a > b")
else:
	print ("a < b")

first number5
first number6
a < b

question 6 WAP to add all the numbers from 1 to n and n is given by user.

In [6]:
def sum_of_odds(n):
  return sum(number for number in range(1, n + 1) if number % 2 != 0)

n = input("Enter a positive integer: ")
if n.isdigit() and int(n) > 0:
  n = int(n)
  print(f"The sum of all odd numbers from 1 to {n} is: {sum_of_odds(n)}")
else:
  print("Invalid input! Please enter a positive integer.")

Enter a positive integer: 9
The sum of all odd numbers from 1 to 9 is: 25

question 7 WAP to find max amoung three numbers and input from user

In [7]:

def sum_of_numbers_divisible_by_7_and_9(n):
    total_sum = 0
    for i in range(1, n+1):
        if i % 7 == 0 and i % 9 == 0:
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = sum_of_numbers_divisible_by_7_and_9(n)
print(f"The sum of all numbers divisible by 7 and 9 from 1 to {n} is: {result}")

Enter the value of n:  10
The sum of all numbers divisible by 7 and 9 from 1 to 10 is: 0

question 8 WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user

In [9]:

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, num):
        if num % i == 0:
            return False
    return True

question 9 WAP to add all prime numbers from 1 to n and n is given by the user

In [13]:
def sum_of_primes(n):
    total_sum = 0
    for i in range(1, n+1):
        if is_prime(i):
            total_sum += i
    return total_sum

n =

result = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

The sum of all prime numbers from 1 to 5 is: 10

question 10 WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [16]:
def sum_of_primes(n):
    total_sum = 0
    for i in range(1, n+1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))


result = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n: 5
The sum of all prime numbers from 1 to 5 is: 10

question 11 WAP using function that add all prime numbers from 1 to n, n given by the user.

In [18]:
def sum_of_primes(n):
    total_sum = 0
    for i in range(1, n+1):
        if is_prime(i):
            total_sum += i
    return total_sum

n = int(input("Enter the value of n: "))

result = sum_of_primes(n)
print(f"The sum of all prime numbers from 1 to {n} is: {result}")

Enter the value of n: 78
The sum of all prime numbers from 1 to 78 is: 712