Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].

i. WAP to add 200 and 300 to L

In [2]:
L = [10, 20, 30, 40, 50, 60, 70, 80]

L.append(200)
L.append(300)

print(L)

[10, 20, 30, 40, 50, 60, 70, 80, 200, 300]

ii. WAP to remove 10 and 30 from L.

In [3]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.remove(10)
L.remove(30)
print(L)

[20, 40, 50, 60, 70, 80]

iii. WAP to sort L in ascending order.

In [4]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort()
print(L)

[10, 20, 30, 40, 50, 60, 70, 80]

iv. WAP to sort L in descending order.

In [5]:
L = [10, 20, 30, 40, 50, 60, 70, 80]
L.sort(reverse=True)
print(L)

[80, 70, 60, 50, 40, 30, 20, 10]

2. Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:

i. Identify the highest score and its index in the tuple.

In [11]:
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

highest_score = max(score)
highest_index = score.index(highest_score)
print(f"The highest score is {highest_score} at index {highest_index}.")

The highest score is 92 at index 5.

ii. Find the lowest score and count how many times it appears.

In [12]:
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

lowest_score = min(score)
lowest_index = score.index(lowest_score)
print(f"The lowest score is {lowest_score} at index {lowest_index}.")

The lowest score is 45 at index 0.


iii. Reverse the tuple and return it as a list.

In [13]:
score = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
reversed_list = list(score)[::-1]
print("Reversed list:", reversed_list)

Reversed list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]

iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [14]:

scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)

score_to_find = float(input("Enter the score to check: "))
if score_to_find in scores:
    index = scores.index(score_to_find)
    print(f"The score {score_to_find} is present at index {index}.")
else:
    print(f"The score {score_to_find} is not present in the tuple.")

Enter the score to check: 10
The score 10.0 is not present in the tuple.

3. WAP to create a list of 100 random numbers between 100 and 900. Count and print
the:

i. All odd numbers

In [15]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

odd_numbers = [num for num in random_numbers if num % 2 != 0]

print(f"All odd numbers: {odd_numbers}")
print(f"Count of odd numbers: {len(odd_numbers)}")

All odd numbers: [237, 851, 301, 223, 233, 383, 729, 407, 209, 439, 375, 651, 751, 329, 501, 159, 225, 191, 729, 861, 717, 851, 745, 207, 529, 227, 469, 311, 723, 413, 711, 817, 803, 619, 855, 401, 755, 291, 821, 271, 179, 503, 753, 495, 593, 367, 413, 493]
Count of odd numbers: 48

ii. All even numbers

In [20]:
import random

random_numbers = [random.randint(100, 900) for _ in range(100)]

even_numbers = [num for num in random_numbers if num % 2 == 0]

print(f"All even numbers: {even_numbers}")
print(f"Count of even numbers: {len(even_numbers)}")

All even numbers: [696, 710, 520, 184, 252, 270, 642, 290, 566, 772, 614, 766, 544, 814, 854, 312, 376, 620, 308, 304, 284, 636, 402, 330, 726, 376, 646, 476, 448, 446, 620, 738, 172, 154, 842, 598, 198, 624, 176, 230, 112, 590, 818, 860, 264, 178, 618, 384, 666]
Count of even numbers: 49

iii. All prime numbers

In [21]:
import random
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
random_numbers = [random.randint(100, 900) for _ in range(100)]

prime_numbers = [num for num in random_numbers if is_prime(num)]

print(f"All prime numbers: {prime_numbers}")
print(f"Count of prime numbers: {len(prime_numbers)}")

All prime numbers: [223, 811, 509, 569, 599, 487, 739, 311, 881, 773, 547, 733, 439, 197, 433]
Count of prime numbers: 15

4. Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set funcƟons:

i. Find the unique scores achieved by both teams (union of sets).

In [22]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

unique_scores = A.union(B)


print("Unique scores achieved by both teams:", unique_scores)

Unique scores achieved by both teams: {34, 45, 78, 23, 56, 90}

ii. Identify the scores that are common to both teams (intersecƟon of sets).

In [23]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

common_scores = A.intersection(B)  # Using the intersection() method


print("Scores common to both teams:", common_scores)

Scores common to both teams: {90, 78}

iii. Find the scores that are exclusive to each team (symmetric difference).

In [24]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

exclusive_scores = A.symmetric_difference(B)

print("Scores exclusive to each team:", exclusive_scores)

Scores exclusive to each team: {34, 45, 23, 56}

iv. Check if the scores of team A are a subset of team B, and if team B's scores are
a superset of team A.

In [25]:

A = {34, 56, 78, 90}
B = {78, 45, 90, 23}

is_subset = A.issubset(B)

is_superset = B.issuperset(A)

print(f"Is team A's scores a subset of team B? {is_subset}")
print(f"Is team B's scores a superset of team A? {is_superset}")

Is team A's scores a subset of team B? False
Is team B's scores a superset of team A? False

v. Remove a specific score X (input by the user) from set A if it exists. If not, print
a message saying it is not present.

In [27]:


A = {34, 56, 78, 90}

score_to_remove = int(input("Enter the score to remove: "))

if score_to_remove in A:
    A.remove(score_to_remove)
    print(f"Score {score_to_remove} has been removed from set A.")
else:
    print(f"Score {score_to_remove} is not present in set A.")


print("Updated set A:", A)

Enter the score to remove: 34
Score 34 has been removed from set A.
Updated set A: {56, 90, 78}

5. Write a program to rename a key city to a locaƟon in the following dicƟonary.

In [28]:
d={"name":"kelly","age":25,"salary":8000,"city":"new york"}

if "city" in d:
    d["location"]=d.pop("city")
    print("successful")
else:
    print("not successful")
print("updated dictionary:",d)

successful
updated dictionary: {'name': 'kelly', 'age': 25, 'salary': 8000, 'location': 'new york'}